language: python
python:
- '3.6'
- '3.7'
- '3.8'
env:
- DEVPI_PLUMBER_SERVER_HOST=127.0.0.1
sudo: false
install:
- pip install -r requirements.txt
- pip install coveralls
- pip install --no-deps -e .
- pip freeze
script: py.test
after_success: coveralls
deploy:
  provider: pypi
  user: __token__
  distributions: sdist bdist_wheel
  on:
    tags: true
    all_branches: true

